## Settings file was created by plugin RememberIPDamnit v0.2
## Plugin GUID: Xenofell.RememberIPDamnit

[RememberIPDamnit]

# Setting type: String
# Default value: 
Address = 192.168.178.47:2456

# Setting type: String
# Default value: 
Password = 

